<div class="row">
  <div class="col-md-6">
    <div class="panel panel-warning">
      <div class="panel-heading" style="text-align: center"><b>Cliente</b></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Nombre:</label>
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
                <input type="text" class="form-control" placeholder="Nombre(s)">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Apellido:</label>
              <input type="text" placeholder="Apellido(s)" class="form-control">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Correo Electronico:</label>
          <input type="text" placeholder="Mail@example.com" class="form-control">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading" style="text-align: center"><b>Dirección</b></div>
      <div class="panel-body">
        <div class="form-group">
          <label>Calle:</label>
          <input type="text" placeholder="Nombre y Numero de Calle" class="form-control">
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Ciudad:</label>
              <input type="text" placeholder="Ciudad" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Codigo Postal:</label>
              <input type="text" placeholder="ZIP" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-danger">
  <div class="panel-heading" style="text-align: center"><b>Productos</b></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Nombre:</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Marca:</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Provedor:</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Cantidad:</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Precio:</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
</div>
